
body {
  background-color: #F5F5F5;
  font-family: Arial,Helvetica,sans-serif;
}

h1, h2, h3, h4, p {
  color: #001021;
}

#content, #header-content {
  margin-left: auto;
  margin-right: auto;
  max-width: 650px;
}

#gallery-content {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  min-width: 300px;
}

#header-content {
  display: table
}

#greeting-container {
  margin-top: 20px;
}

.image-thumbnails {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-thumbnails img {
  margin: 10px;
  max-height: 200px;
  max-width: 200px;
}

.image-thumbnails img:hover {
  opacity: 0.7;
}

header {
  width: 100%;
  height: 100px;
  margin: 0;
}

header div {
  height: auto;
  vertical-align: middle;
  display: table-cell;
  text-align: center;
}

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #35A7FF;
  overflow: hidden;
}

nav a {
  padding: 15px 40px;
  text-align: center;
  color:#F5F5F5;
}

@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }
}

nav a:hover {
    color: #001021;
}

.image-popup-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.image-popup {
  max-height: 90%;
  max-width: 90%;
  margin: auto;
}

.close {
  position: absolute;
  top: 15px;
  right: 115px;
  color: #F5F5F5;
  font-size: 40px;
  font-weight: bold;
}

a {
  color: #D7263D;
  text-decoration: none;
}

a:hover {
  color: #35A7FF;
}

#hobbies-container img {
  margin: 3px;
}

#hobbies-container {
  margin-bottom: 10px;
}

#posters {
  display: table;
  width: 80%;
  margin-bottom: 10px;
}

#posters a {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.medium-spacing {
  margin-top: 5px;
  margin-bottom: 5px;
}

.comment p {
  max-height: 200px;
  overflow: hidden;
}

#comments-container {
  max-height: 500px;
  overflow: scroll;
}

button, .button {
  padding: 10px 15px;
  border: 5px solid #35A7FF;
  background-color: #35A7FF;
  text-align: center;
  color: #F5F5F5;
  border-radius: 5px;
}

button:hover, .button:hover {
  background-color: #F5F5F5;
  color: #001021
}

.small-button {
  padding: 0px 5px;
}

.inline {
  display: inline;
}

.right {
  float: right;
}

.left {
  float: left;
}

.float-container {
  overflow: auto;
}

.fill-width {
  width: 100%;
}

#comment-textbox {
  height: 100px;
  resize: none;
}

.text-box {
  border: 2px solid #35A7FF;
  border-radius: 4px;
  color: #001021;
  padding: 5px;
}

.select {
  border: 2px solid #35A7FF;
  border-radius: 4px;
  background-color: #35A7FF;
  color: #F5F5F5;
  padding: 5px;
}